<h2 class="page-header">Dashboard</h2>
<p><i>You have two options for unplugging your router:</i></p>
<br />
<p><strong>Unplug immediately</strong></p>
<p><button onclick="location.href='http://localhost:3000/unplug'" type="button">Unplug</button></p>
<br /><br />
<p><strong>Unplug if these sites are visited</strong></p>
<p style="color:red;">Choose 5</p>
<ol>
<li><input type="text"></li>
<li><input type="text"></li>
<li><input type="text"></li>
<li><input type="text"></li>
<li><input type="text"></li>
</ol>
<p><button onclick="location.href='http://localhost:3000/unplug'" type="button">Watch sites</button></p>

